/* #Tablet (Landscape)
================================================== */
@media only screen and (max-width: 1024px) {

	#searchform input {
	    width: 118px;
	}

	.header-block-wrap {
		display: none;
	}
	.title-container-wrap {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.container,
	.container-boxed,
	.title-container,
	.footer-container,
	.header-search-wrap #searchform input,
	.top-bar-wrap-boxed {
	    width: 920px;
	}
	.container-boxed .container,
	.container-boxed .footer-container  {
		padding-left: 30px;
		padding-right: 30px;
		width: auto;
	}
	.page-template-template-fullpage-php .container-boxed .container {
		padding-left: 0;
		padding-right: 0;
	}
	.responsive-menu-wrap {
	    display: block;
	}
	.portfolio-nav-wrap {
		top:-27px;
	}
	.fullwidth-theme .portfolio-nav-wrap {
		top:-37px;
	}
	.portfolio-nav {
		position: static;
	}

	#wp-calendar thead th {
		padding:7px;
	}
	.single-mtheme_portfolio .sidebar-wrap-single {
		margin-top:26px;
	}
	#demopanel {
		display:none !important;
	}

}

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {

	.container,
	.container-boxed,
	.title-container,
	.footer-container,
	.header-search-wrap #searchform input,
	.top-bar-wrap-boxed {
	    width: 700px;
	}

	.header-block-wrap {
		display: none;
	}

	.container-boxed .container,
	.container-boxed .footer-container  {
		padding-left: 30px;
		padding-right: 30px;
		width: auto;
	}
	.page-template-template-fullpage-php .container-boxed .container {
		padding-left: 0;
		padding-right: 0;
	}

	.sidebar-wrap,
	.sidebar-wrap-single {
		position: static;
	}

	.sidebar-widget .infobar-portfoliogrid li {
	    border: medium none;
	    float: left;
	    margin: 0;
	    padding: 0;
	    width: 16.6%;
	}
	.footer-widget .infobar-portfoliogrid li {
	    border: medium none;
	    float: left;
	    margin: 0;
	    padding: 0;
	    width: 14.2%;
	}
	.grid-list-portfolio-related ul li {
		width: 13%;
	}

	.top-menu-wrap {
		width:100%;
	}
	.top-bar-wrap,
	.header-elements-wrap,
	.container,
	.title-container,
	.slideshow_content_wrap{
	}

	#flex-testimonails .flex-direction-nav {
		display:none;
	}
	/* Search Input */
	#searchform input {
	    width: 198px;
	}

	/* Ajax Portfolio */
	.ajax-gallery-navigation {
		float:none;
	}
	#ajax-gridblock-wrap .gridblock-contents-wrap {
		margin-top:0;
	}


	/* Main mneu and Logo */
	.logo {
		float: none;
	}

	/* Header search OFF */
	.header-search-wrap {
		display:none;
	}

	/* Mobile Menu ON */
	.responsive-menu-wrap {
		display:block;
	}
	/* Main Menu and Header Menu OFF */
	.mainmenu-navigation {
		display:none;
	}
	.header-menu-wrap,
	.sticky-menu-activate {
		display:none;
	}

	.container-boxed {
	}
	
	/* Set Sidebar 100% */
	.sidebar-wrap,
	.sidebar-wrap-single {
		width:100%;
		margin-top:30px;
		padding-top:30px;
	}
	.fullwidth-theme .sidebar {
		padding:80px;
	}
	#recentposts_list .recent_thumbnail,
	#popularposts_list .popular_thumbnail {
		height: auto;
	}
	.sidebar-widget {
	}

	/* Column based layouts to 100% */
	.two-column,
	.fullwidth-theme .two-column {
		width:100%;
	}

	.service-item {
		margin-bottom: 30px;
	}

	/* All Collumns 100% */
	.column1,
	.column2,
	.column3,
	.column4,
	.column5,
	.column6, 
	.column32,
	.column43,
	.column52,
	.column53,
	.service-column-1 .service-item,
	.service-column-2 .service-item,
	.service-column-3 .service-item,
	.service-column-4 .service-item,
	.service-column-5 .service-item,
	.service-column-6 .service-item
	.service-item-space,
	.pricing-table .column2,
	.pricing-table .column3,
	.pricing-table .column4,
	.pricing-table .column5,
	.pricing-table .column6,
	#footer .footer-column {
		width:100%;
	}
	.person {
		width: 350px;
		max-width: 100%;
		margin: 0 auto;
	}
	/* Portfolio blocks to 100% */
	.gridblock-two .gridblock-element,
	.gridblock-three .gridblock-element,
	.gridblock-four .gridblock-element {
		width:50%;
	}
	.gridblock-one .gridblock-element {
		width: 100%;
	}
	.thumbnails-shortcode .gridblock-three .clearfix {
		display: none;
	}
	/* Portfolio container to 100% */
	#gridblock-container {
		width:100%;
	}

	.photowall-wrap {
		padding-top: 0;
		top:30px;
	}
	/* Clients columns to 50% each - 2 columns */
	.client-column-1 .client-item,
	.client-column-2 .client-item,
	.client-column-3 .client-item,
	.client-column-4 .client-item,
	.client-column-5 .client-item,
	.client-column-6 .client-item,
	.client-column-7 .client-item,
	.client-column-8 .client-item,
	.client-column-9 .client-item,
	.client-column-10 .client-item {
		text-align: center;
		width:50%;
		margin-bottom: 40px;
	}

	/* Testimonial block */
	.testimonial-say {
		margin-bottom: 20px;
	}

	/* Tabs */
	.ui-tabs .ui-tabs-nav li {
		width:100% !important;
	}

	/* Post header Navigation */
	.portfolio-nav-wrap {
		top:-27px;
	}
	.fullwidth-theme .portfolio-nav-wrap {
		top:-37px;
	}

	.portfolio-nav {
		position: static;
	}
	.post-previous {
		float: left;
	}

	/* Comments Adjust */
	ol.commentlist li p {
		margin-left: 0;
	}
	ol.commentlist li {
		padding:20px;
	}

	/* Callout */
	.callout-text {
		float: none;
		margin-bottom: 20px;
		text-align: center;
	}
	.callout .callout-title {
		margin-bottom: 20px;
	}
	.callout-button {
		float:none;
		text-align: center;
	}
	.callout h2.callout-title {
		margin-top:20px;
	}
	.callout-desc {
		width:100%;
	}
	.callout {
		text-align: center;
		padding-top:40px;
		padding-bottom:40px;
	}

	.sidebar-widget #searchform input {
		width:76%;
	}

	#footer .footer-column {
		margin-right:0;
		margin-left:0;
		margin-top:30px;
	}

	#demopanel { display:none;}

	.slideshow_title, .static_slideshow_title {
		font-size: 52px;
		line-height: 55px;
	}
	
	.slideshow_content_wrap {
		padding: 50px 0 20px;
	}
	.slideshow_caption,.static_slideshow_caption {
		width: auto;
		margin:10px 30px;
		line-height: 17px;
	}
	.slideshow_caption, .static_slideshow_caption {
		padding-bottom: 10px;
	}
	.slideshow_text_shift_up {
		padding-bottom: 50px;
	}

	.sc_slideshowtitle {
		font-size:16px;
		line-height: 18px;
	}

	.social-header-wrap ul li.contact-text {
		top:0;
	}

	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.entry-content .entry-post-title h2 a,
	.entry-title h1,
	.entry-content p,
	.work-description,
	.postsummarywrap,
	.sidebar h3,
	.sidebar,
	.sidebar a,
	#copyright,
	.gridblock-four h4 a,
	.gridblock-three h4 a,
	.gridblock-two h4 a,
	.gridblock-one h4 a,
	.gridblock-list h4 a,
	#gridblock-filters li a,
	h1.item-title,
	h2.item-title,
	h3.item-title,
	h4.item-title,
	h5.item-title,
	h6.item-title,
	.entry-content h1,
	.entry-content h2,
	.entry-content h3,
	.entry-content h4,
	.entry-content h5,
	.entry-content h6,
	.portfolio-share li.sharethis,
	.mbutton span,
	.mobile-menu-toggle,
	.responsive-mobile-menu ul li a,
	.responsive-mobile-menu ul.sub-menu li a,
	.slideshow_title,
	.slideshow_caption,
	.sc_slideshowtitle,
	.callout .callout-title,
	.pagination,
	.boxtitle-hover a,
	.ui-tabs .ui-tabs-nav li a,
	.ui-accordion-header.ui-state-default a,
	.ajax-gridblock-data h2 a {
	}
	.sidebar,
	.entry-content,
	.postsummarywrap,
	.mbutton span,
	.gridblock-four .work-description,
	.gridblock-three .work-description,
	.gridblock-two .work-description,
	.gridblock-one .work-description,
	.gridblock-four h4 a,
	.gridblock-three h4 a,
	.gridblock-two h4 a,
	.gridblock-one h4 a,
	.gridblock-list h4 a {
	}

	#demopanel {
		display:none !important;
	}

	.portfolio-nav-wrap {
		top:-27px;
	}
	.fullwidth-theme .portfolio-nav-wrap {
		top:-37px;
	}
	.portfolio-nav {
		position: static;
	}

	.ui-tabs-vertical .ui-tabs-panel,
	.ui-tabs-vertical ul {
		width: 100%;
	}

	.woocommerce #content div.product div.images,
	.woocommerce div.product div.images,
	.woocommerce-page #content div.product div.images,
	.woocommerce-page div.product div.images {
	    width: 100% !important;
	}
	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.summary {
		width: auto !important;
	}
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product {
	    width: 49.7% !important;
	}

}


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {

	.entry-page-wrapper, .entry-content-wrapper,
	.search-page-wrap, .woocommerce #container {
	    padding: 45px 40px;
	}
	.container-outer {
		margin-top: 70px;
	}
	.container {
	    margin-bottom: 70px;
	}

	.entry-title {
	    padding-left: 40px;
	    padding-right: 40px;
	}

	.container,
	.container-boxed,
	.title-container,
	.footer-container,
	.header-search-wrap #searchform input,
	.top-bar-wrap-boxed {
	    width: 300px;
	    max-width: 100%;
	}
	.container-boxed .container,
	.container-boxed .footer-container  {
		padding-left: 30px;
		padding-right: 30px;
		width: auto;
	}
	.page-template-template-fullpage-php .container-boxed .container {
		padding-left: 0;
		padding-right: 0;
	}
	.sidebar-wrap,
	.sidebar-wrap-single {
		position: static;
	}

	.logo img {
		max-width: 100px;
	}

	.top-menu-wrap {
		width:100%;
	}
	.top-bar-wrap,
	.header-elements-wrap,
	.container,
	.title-container,
	.slideshow_content_wrap{
	}

	#flex-testimonails .flex-direction-nav {
		display:none;
	}

	/* Search Input */
	#searchform input {
	    width: 198px;
	}

	/* Audio Progress Bar */
	.jp-progress {
		display:none;
	}
	.fullscreenslideshow-audio {
		display: none;
	}

	/* Ajax Portfolio */
	.ajax-gallery-navigation {
		float:none;
	}
	#ajax-gridblock-wrap .gridblock-contents-wrap {
		margin-top:0;
	}


	/* Main mneu and Logo */
	.header-block-wrap {
		display: none;
	}
	.logo {
		float: none;
	}

	/* Header search OFF */
	.header-search-wrap {
		display:none;
	}

	/* Mobile Menu ON */
	.responsive-menu-wrap {
		display:block;
	}
	/* Main Menu and Header Menu OFF */
	.mainmenu-navigation {
		display:none;
	}
	.header-menu-wrap,
	.sticky-menu-activate {
		display:none;
	}

	.container-boxed {
	}
	
	/* Set Sidebar 100% */
	.sidebar-wrap,
	.sidebar-wrap-single {
		width:100%;
		margin-top:30px;
		padding-top:30px;
	}
	#recentposts_list .recent_thumbnail,
	#popularposts_list .popular_thumbnail {
		height: auto;
	}
	.sidebar-widget {
	}

	/* Column based layouts to 100% */
	.two-column,
	.fullwidth-theme .two-column {
		width:100%;
	}

	.service-item {
		margin-bottom: 30px;
	}

	/* All Collumns 100% */
	.column1,
	.column2,
	.column3,
	.column4,
	.column5,
	.column6, 
	.column32,
	.column43,
	.column52,
	.column53,
	.service-column-1 .service-item,
	.service-column-2 .service-item,
	.service-column-3 .service-item,
	.service-column-4 .service-item,
	.service-column-5 .service-item,
	.service-column-6 .service-item
	.service-item-space,
	.pricing-table .column2,
	.pricing-table .column3,
	.pricing-table .column4,
	.pricing-table .column5,
	.pricing-table .column6,
	#footer .footer-column {
		width:100%;
	}
	/* Portfolio blocks to 100% */
	.gridblock-one .gridblock-element,
	.gridblock-two .gridblock-element,
	.gridblock-three .gridblock-element,
	.gridblock-four .gridblock-element {
		width:100%;
	}
	/* Portfolio container to 100% */
	#gridblock-container {
		width:100%;
	}
	/* Clients columns to 50% each - 2 columns */
	.client-column-1 .client-item,
	.client-column-2 .client-item,
	.client-column-3 .client-item,
	.client-column-4 .client-item,
	.client-column-5 .client-item,
	.client-column-6 .client-item,
	.client-column-7 .client-item,
	.client-column-8 .client-item,
	.client-column-9 .client-item,
	.client-column-10 .client-item {
		text-align: center;
		width:50%;
		margin-bottom: 40px;
	}

	/* Testimonial block */
	.testimonial-say {
		margin-bottom: 20px;
	}

	/* Tabs */
	.ui-tabs .ui-tabs-nav li {
		width:100% !important;
	}

	/* Post header Navigation */
	.portfolio-nav-wrap {
		top:-27px;
	}
	.fullwidth-theme .portfolio-nav-wrap {
		top:-37px;
	}
	.portfolio-nav {
		position: static;
	}
	.post-previous {
		float: left;
	}

	/* Comments Adjust */
	ol.commentlist li p {
		margin-left: 0;
	}
	ol.commentlist li {
		padding:20px;
	}

	/* Callout */
	.callout-text {
		float: none;
		margin-bottom: 20px;
		text-align: center;
	}
	.callout .callout-title {
		margin-bottom: 20px;
	}
	.callout-button {
		float:none;
		text-align: center;
	}
	.callout h2.callout-title {
		margin-top:20px;
	}
	.callout-desc {
		width:100%;
	}
	.callout {
		text-align: center;
		padding-top:40px;
		padding-bottom:40px;
	}

	.sidebar-widget #searchform input {
		width:73%;
	}

	#footer .footer-column {
		margin-right:0;
		margin-left:0;
		margin-top:30px;
	}

	#demopanel { display:none;}

	.menu-toggle-wrap {
		display:none;
	}

	.slideshow_title, .static_slideshow_title {
		font-size: 32px;
		line-height: 30px;
		font-weight: 400;
		letter-spacing: -2px;
	}

	.slideshow_content_wrap {
		padding:10px;
	}
	.slideshow_caption, .static_slideshow_caption {
		padding-bottom: 10px;
	}
	.slideshow_text_shift_up {
		padding-bottom: 50px;
	}

	.slideshow_caption,.static_slideshow_caption {
		line-height: 14px;
		font-size: 12px;
		margin:10px 20px;
		width: auto;
	}
	.sc_slideshowtitle {
		font-size:16px;
		line-height: 18px;
	}
	.slideshow_caption, .static_slideshow_caption {
		font-weight: 600;
	}
	.super-navigation,
	#controls-wrapper #controls {
		display:none;
	}

	.postformat_contents {
		padding-left:0;
		padding-right: 0;
	}

	.post-single-meta {
		float: none;
	}

	.social-header-wrap ul li.contact-text {
		top:0;
	}

	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.entry-content .entry-post-title h2 a,
	.entry-title h1,
	.entry-content p,
	.work-description,
	.postsummarywrap,
	.sidebar h3,
	.sidebar,
	.sidebar a,
	#copyright,
	.gridblock-four h4 a,
	.gridblock-three h4 a,
	.gridblock-two h4 a,
	.gridblock-one h4 a,
	.gridblock-list h4 a,
	#gridblock-filters li a,
	h1.item-title,
	h2.item-title,
	h3.item-title,
	h4.item-title,
	h5.item-title,
	h6.item-title,
	.entry-content h1,
	.entry-content h2,
	.entry-content h3,
	.entry-content h4,
	.entry-content h5,
	.entry-content h6,
	.portfolio-share li.sharethis,
	.mbutton span,
	.mobile-menu-toggle,
	.responsive-mobile-menu ul li a,
	.responsive-mobile-menu ul.sub-menu li a,
	.slideshow_title,
	.slideshow_caption,
	.sc_slideshowtitle,
	.callout .callout-title,
	.pagination,
	.boxtitle-hover a,
	.ui-tabs .ui-tabs-nav li a,
	.ui-accordion-header.ui-state-default a,
	.ajax-gridblock-data h2 a {
	}
	.sidebar,
	.entry-content,
	.postsummarywrap,
	.mbutton span,
	.gridblock-four .work-description,
	.gridblock-three .work-description,
	.gridblock-two .work-description,
	.gridblock-one .work-description,
	.gridblock-four h4 a,
	.gridblock-three h4 a,
	.gridblock-two h4 a,
	.gridblock-one h4 a,
	.gridblock-list h4 a {
	}

	.photowall-wrap {
	    top: 20px;
	    padding-top: 
	}

	.header-widgets .wpml-lang-selector-wrap {
		margin:0 auto;
		text-align: center;
		
	}
	.header-widgets #lang_sel {
		float:none;
	}
	.top-bar-wrap {
		height: auto;
	}

	#demopanel {
		display:none !important;
	}

	#gridblock-filter-select,
	#gridblock-filters {
		width: 100%;
	}

	.bloglist-small .post-format-media {
		float:none;
		width: 100%;
	}

	ul.gridblock-listbox .gridblock-image-link {
		width:100%;
		float: none;
	}
	ul.gridblock-listbox .work-details {
		margin: 20px 0;
	}

	.ui-tabs-vertical .ui-tabs-panel,
	.ui-tabs-vertical ul {
		width: 100%;
	}

	.entry-content .pullquote-left,
	.entry-content .pullquote-right,
	.entry-content .pullquote-center {
		float:none;
		margin: 0 0 25px 0;
		padding: 0;
		width: 100%;
	}

/*
WooCommerce*/

	.woocommerce div.product div.summary,
	.woocommerce #content div.product div.summary,
	.woocommerce-page div.product div.summary,
	.woocommerce-page #content div.product div.summary {
		width:100% !important;
	}
	.woo-single-flexslider {
		max-width: 100% !important;
		width: 100% !important;
	}
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product {
	    width: 97% !important;
	}

/*
	Product Filters
*/
	.woocommerce .woocommerce-result-count,
	.woocommerce-page .woocommerce-result-count {
	    float: none !important;
	}
	.woocommerce .woocommerce-ordering,
	.woocommerce-page .woocommerce-ordering {
	    float: none !important;
	    margin-top:30px !important;
	}

	.mtheme-woo-order-selected {
		width:240px;
	}
	.mtheme-woo-order-list ul {
		width: 251px;
	}
	.mtheme-woo-order-selected-wrap i {
		position: absolute;
	}
	.mtheme-woo-order-selected,
	.mtheme-woo-order-list ul {
		left: 0;
		right:auto;
	}

	/*
	Product Details*/

	.woocommerce div.product .woocommerce-tabs,
	.woocommerce #content div.product .woocommerce-tabs,
	.woocommerce-page div.product .woocommerce-tabs,
	.woocommerce-page #content div.product .woocommerce-tabs {
	    width: 100%;
	}
/*
	Cart*/

	.woocommerce table.cart img,
	.woocommerce #content table.cart img,
	.woocommerce-page table.cart img,
	.woocommerce-page #content table.cart img,
	.woocommerce table.cart .product-thumbnail,
	.woocommerce #content table.cart .product-thumbnail,
	.woocommerce-page table.cart .product-thumbnail,
	.woocommerce-page #content table.cart .product-thumbnail {
    	width: 40px !important;
	}
	.woocommerce .shop_table.cart .product-quantity,
	.woocommerce .shop_table.cart .product-price {
		display:none;
	}
	.woocommerce table.cart td.actions,
	.woocommerce #content table.cart td.actions,
	.woocommerce-page table.cart td.actions,
	.woocommerce-page #content table.cart td.actions {
	    padding: 10px !important;
	}
	.woocommerce .cart .button,
	.woocommerce .cart input.button,
	.woocommerce-page .cart .button,
	.woocommerce-page .cart input.button {
	    margin-top: 10px;
	}

	.woocommerce .cart .button,
	.woocommerce .cart input.button,
	.woocommerce-page .cart .button,
	.woocommerce-page .cart input.button {
	    float: none !important;
	    margin-bottom: 20px !important;
	}

	.woocommerce .col2-set .col-1, 
	.woocommerce-page .col2-set .col-1,
	.woocommerce .col2-set .col-2, 
	.woocommerce-page .col2-set .col-2  {
	    float: none !important;
	    width: auto !important;
	    margin-bottom: 40px;
	}

	.woocommerce #content table.cart td.actions .button,
	.woocommerce #content table.cart td.actions .input-text,
	.woocommerce #content table.cart td.actions input,
	.woocommerce table.cart td.actions .button,
	.woocommerce table.cart td.actions .input-text,
	.woocommerce table.cart td.actions input,
	.woocommerce-page #content table.cart td.actions .button,
	.woocommerce-page #content table.cart td.actions .input-text,
	.woocommerce-page #content table.cart td.actions input,
	.woocommerce-page table.cart td.actions .button,
	.woocommerce-page table.cart td.actions .input-text,
	.woocommerce-page table.cart td.actions input {
	    width: 100%;
	    margin-bottom: 0 !important;
	}

	.woocommerce table.cart td.actions .coupon .input-text,
	.woocommerce #content table.cart td.actions .coupon .input-text,
	.woocommerce-page table.cart td.actions .coupon .input-text,
	.woocommerce-page #content table.cart td.actions .coupon .input-text {
	    width: 100% !important;
	}
	.woocommerce #content div.product div.images,
	.woocommerce div.product div.images,
	.woocommerce-page #content div.product div.images,
	.woocommerce-page div.product div.images {
	    width: 100% !important;
	}
	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.summary {
		width: auto !important;
	}
	/*
	Carousel
	*/
	.horizontal-carousel-outer,
	.horizontal-carousel-inner {
		overflow: visible;
		width: 100% !important;
		height: auto;
	}
	.horizontal-carousel {
		width: 100% !important;
		max-width: 100% !important;
		height: auto !important;
		position: static;
	}
	.horizontal-carousel .hc-slides {
		width: 100% !important;
		height: auto !important;
	}
	.horizontal-carousel li {
		display: block;
		height: auto !important;
		width: auto !important;
		max-width: 100% !important;
		margin: 0;
		position: static;
	}
	.horizontal-carousel li .hc-image-wrap {
		height: auto !important;
		width: auto !important;
		margin:20px;
	}
	.horizontal-carousel li img {
		opacity: 1;
		width: 100% !important;
		max-width: 100% !important;
		height: auto !important;
		min-height: 0;
	}
	.carousel-captions {
		display: none;
	}
	.fullscreen-horizontal-carousel .prev-hcarousel,
	.fullscreen-horizontal-carousel .next-hcarousel {
		display: none;
	}
	.responsive-titles {
		display: block;
	}

	#html5videocontrol {
		display: none;
	}
		
}

/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {

	.entry-page-wrapper, .entry-content-wrapper,
	.search-page-wrap, .woocommerce #container {
	    padding: 45px 40px;
	}

	.container-outer {
		margin-top: 70px;
	}
	.container {
	    margin-bottom: 70px;
	}

	.entry-title {
	    padding-left: 40px;
	    padding-right: 40px;
	}

	.container,
	.container-boxed,
	.title-container,
	.footer-container,
	.top-bar-wrap-boxed {
	    width: 470px;
	}
	.container-boxed .container,
	.container-boxed .footer-container  {
		padding-left: 30px;
		padding-right: 30px;
		width: auto;
	}
	.page-template-template-fullpage-php .container-boxed .container {
		padding-left: 0;
		padding-right: 0;
	}

	.sidebar-wrap,
	.sidebar-wrap-single {
		position: static;
	}
	.fullwidth-theme .sidebar {
		padding:80px;
	}

	.top-menu-wrap {
		width:100%;
	}
	.top-bar-wrap,
	.header-elements-wrap,
	.container,
	.title-container,
	.slideshow_content_wrap{
	}

	#flex-testimonails .flex-direction-nav {
		display:none;
	}
	/* Search Input */
	#searchform input {
	    width: 198px;
	}

	/* Audio Progress Bar */
	.jp-progress {
		display: block;
		width: 40%;
	}
	.fullscreenslideshow-audio {
		display: none;
	}

	/* Ajax Portfolio */
	.ajax-gallery-navigation {
		float:none;
	}
	#ajax-gridblock-wrap .gridblock-contents-wrap {
		margin-top:0;
	}


	/* Main mneu and Logo */
	.header-block-wrap {
		display: none;
	}
	.logo {
		float: none;
	}

	/* Header search OFF */
	.header-search-wrap {
		display:none;
	}

	/* Mobile Menu ON */
	.responsive-menu-wrap {
		display:block;
	}
	/* Main Menu and Header Menu OFF */
	.mainmenu-navigation {
		display:none;
	}
	.header-menu-wrap,
	.sticky-menu-activate {
		display:none;
	}

	.container-boxed {
	}
	
	/* Set Sidebar 100% */
	.sidebar-wrap,
	.sidebar-wrap-single {
		width:100%;
		margin-top:30px;
		padding-top:30px;
	}
	.fullwidth-theme .sidebar {
		padding:80px;
	}
	#recentposts_list .recent_thumbnail,
	#popularposts_list .popular_thumbnail {
		height: auto;
	}
	.sidebar-widget {
	}

	/* Column based layouts to 100% */
	.two-column,
	.fullwidth-theme .two-column {
		width:100%;
	}

	.service-item {
		margin-bottom: 30px;
	}

	/* All Collumns 100% */
	.column1,
	.column2,
	.column3,
	.column4,
	.column5,
	.column6, 
	.column32,
	.column43,
	.column52,
	.column53,
	.service-column-1 .service-item,
	.service-column-2 .service-item,
	.service-column-3 .service-item,
	.service-column-4 .service-item,
	.service-column-5 .service-item,
	.service-column-6 .service-item
	.service-item-space,
	.pricing-table .column2,
	.pricing-table .column3,
	.pricing-table .column4,
	.pricing-table .column5,
	.pricing-table .column6,
	#footer .footer-column {
		width:100%;
	}
	/* Portfolio blocks to 100% */
	.gridblock-one .gridblock-element,
	.gridblock-two .gridblock-element,
	.gridblock-three .gridblock-element,
	.gridblock-four .gridblock-element {
		width:100%;
	}
	/* Portfolio container to 100% */
	#gridblock-container {
		width:100%;
	}
	/* Clients columns to 50% each - 2 columns */
	.client-column-1 .client-item,
	.client-column-2 .client-item,
	.client-column-3 .client-item,
	.client-column-4 .client-item,
	.client-column-5 .client-item,
	.client-column-6 .client-item,
	.client-column-7 .client-item,
	.client-column-8 .client-item,
	.client-column-9 .client-item,
	.client-column-10 .client-item {
		text-align: center;
		width:50%;
		margin-bottom: 40px;
	}

	/* Testimonial block */
	.testimonial-say {
		margin-bottom: 20px;
	}

	/* Tabs */
	.ui-tabs .ui-tabs-nav li {
		width:100% !important;
	}

	/* Post header Navigation */
	.portfolio-nav-wrap {
		top:-27px;
	}
	.fullwidth-theme .portfolio-nav-wrap {
		top:-37px;
	}
	.portfolio-nav {
		position: static;
	}
	.post-previous {
		float: left;
	}

	/* Comments Adjust */
	ol.commentlist li p {
		margin-left: 0;
	}
	ol.commentlist li {
		padding:20px;
	}

	/* Callout */
	.callout-text {
		float: none;
		margin-bottom: 20px;
		text-align: center;
	}
	.callout .callout-title {
		margin-bottom: 20px;
	}
	.callout-button {
		float:none;
		text-align: center;
	}
	.callout h2.callout-title {
		margin-top:20px;
	}
	.callout-desc {
		width:100%;
	}
	.callout {
		text-align: center;
		padding-top:40px;
		padding-bottom:40px;
	}

	.sidebar-widget #searchform input {
		width:76%;
	}

	#footer .footer-column {
		margin-right:0;
		margin-left:0;
		margin-top:30px;
	}

	#demopanel { display:none;}

	.menu-toggle-wrap {
		display:none;
	}

	.slideshow_title, .static_slideshow_title {
		font-size: 44px;
		line-height: 42px;
	}
	.slideshow_caption, .static_slideshow_caption {
		font-weight: 600;
	}

	.slideshow_content_wrap {
		padding:10px;
	}
	.slideshow_caption, .static_slideshow_caption {
		padding-bottom: 0;
	}
	.slideshow_text_shift_up {
		padding-bottom: 50px;
	}
	.slideshow_caption,.static_slideshow_caption {
		line-height: 14px;
		font-size: 14px;
		width: auto;
		margin: 10px 20px;
	}
	.sc_slideshowtitle {
		font-size:16px;
		line-height: 18px;
	}

	.postformat_contents {
		padding-left:0;
		padding-right: 0;
	}

	.post-single-meta {
		float: none;
	}

	.social-header-wrap ul li.contact-text {
		top:0;
	}

	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.entry-content .entry-post-title h2 a,
	.entry-title h1,
	.entry-content p,
	.work-description,
	.postsummarywrap,
	.sidebar h3,
	.sidebar,
	.sidebar a,
	#copyright,
	.gridblock-four h4 a,
	.gridblock-three h4 a,
	.gridblock-two h4 a,
	.gridblock-one h4 a,
	.gridblock-list h4 a,
	#gridblock-filters li a,
	h1.item-title,
	h2.item-title,
	h3.item-title,
	h4.item-title,
	h5.item-title,
	h6.item-title,
	.entry-content h1,
	.entry-content h2,
	.entry-content h3,
	.entry-content h4,
	.entry-content h5,
	.entry-content h6,
	.portfolio-share li.sharethis,
	.mbutton span,
	.mobile-menu-toggle,
	.responsive-mobile-menu ul li a,
	.responsive-mobile-menu ul.sub-menu li a,
	.slideshow_title,
	.slideshow_caption,
	.sc_slideshowtitle,
	.callout .callout-title,
	.pagination,
	.boxtitle-hover a,
	.ui-tabs .ui-tabs-nav li a,
	.ui-accordion-header.ui-state-default a,
	.ajax-gridblock-data h2 a {
	}
	.sidebar,
	.entry-content,
	.postsummarywrap,
	.mbutton span,
	.gridblock-four .work-description,
	.gridblock-three .work-description,
	.gridblock-two .work-description,
	.gridblock-one .work-description,
	.gridblock-four h4 a,
	.gridblock-three h4 a,
	.gridblock-two h4 a,
	.gridblock-one h4 a,
	.gridblock-list h4 a {
	}

	.photowall-wrap {
	    top: 20px;
	    padding-top: 
	}

	.header-widgets .wpml-lang-selector-wrap {
		margin:0 auto;
		text-align: center;
		
	}
	.header-widgets #lang_sel {
		float:none;
	}
	.top-bar-wrap {
		height: auto;
	}
	
	#demopanel {
		display:none !important;
	}

	#gridblock-filter-select,
	#gridblock-filters {
		width: 100%;
	}

	.bloglist-small .post-format-media {
		float:none;
		width: 100%;
	}

	ul.gridblock-listbox .gridblock-image-link {
	width:100%;
	float: none;
	}
	ul.gridblock-listbox .work-details {
	margin: 20px 0;
	}

	.ui-tabs-vertical .ui-tabs-panel,
	.ui-tabs-vertical ul {
		width: 100%;
	}


/*
woocommerce*/

	.woocommerce div.product div.summary,
	.woocommerce #content div.product div.summary,
	.woocommerce-page div.product div.summary,
	.woocommerce-page #content div.product div.summary {
		width:100% !important;
	}
/*
	Product Columns
*/
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product {
	    width: 49.7% !important;
	}


/*
	Product Filters
*/
	.woocommerce .woocommerce-result-count,
	.woocommerce-page .woocommerce-result-count {
	    float: none !important;
	}
	.woocommerce .woocommerce-ordering,
	.woocommerce-page .woocommerce-ordering {
	    float: none !important;
	    margin-top:30px !important;
	}
	.mtheme-woo-order-selected {
		width:400px;
	}
	.mtheme-woo-order-list ul {
		width: 409px;
	}
	.mtheme-woo-order-selected-wrap i {
		position: absolute;
	}
	.mtheme-woo-order-selected,
	.mtheme-woo-order-list ul {
		left: 0;
		right:auto;
	}

	/*
	Product Details*/

	.woocommerce div.product .woocommerce-tabs,
	.woocommerce #content div.product .woocommerce-tabs,
	.woocommerce-page div.product .woocommerce-tabs,
	.woocommerce-page #content div.product .woocommerce-tabs {
	    width: 100%;
	}
/*
	Cart*/
	.woocommerce table.cart img,
	.woocommerce #content table.cart img,
	.woocommerce-page table.cart img,
	.woocommerce-page #content table.cart img,
	.woocommerce table.cart .product-thumbnail,
	.woocommerce #content table.cart .product-thumbnail,
	.woocommerce-page table.cart .product-thumbnail,
	.woocommerce-page #content table.cart .product-thumbnail {
	    width: 80px !important;
	}
	.woocommerce .shop_table.cart .product-quantity {
		display:none;
	}

	.woocommerce .shop_table.cart .product-price {
		display: block;
	}

	.woocommerce table.cart td.actions .coupon,
	.woocommerce #content table.cart td.actions .coupon,
	.woocommerce-page table.cart td.actions .coupon,
	.woocommerce-page #content table.cart td.actions .coupon {
	    float: none !important;
	}
	.woocommerce .cart .button,
	.woocommerce .cart input.button,
	.woocommerce-page .cart .button,
	.woocommerce-page .cart input.button {
	    float: none !important;
	    margin-bottom: 20px !important;
	}

	.woocommerce .col2-set .col-1, 
	.woocommerce-page .col2-set .col-1,
	.woocommerce .col2-set .col-2, 
	.woocommerce-page .col2-set .col-2  {
	    float: none !important;
	    width: auto !important;
	    margin-bottom: 40px;
	}
	.woocommerce #content div.product div.images,
	.woocommerce div.product div.images,
	.woocommerce-page #content div.product div.images,
	.woocommerce-page div.product div.images {
	    width: 100% !important;
	}
	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.summary {
		width: auto !important;
	}

	/*
	Carousel
	*/
	.horizontal-carousel-outer,
	.horizontal-carousel-inner {
		overflow: visible;
		width: 100% !important;
	}
	.horizontal-carousel {
		width: 100% !important;
		max-width: 100% !important;
		height: auto !important;
		position: static;
	}
	.horizontal-carousel li {
		display: block;
		height: auto;
		width: auto !important;
		max-width: 100% !important;
		margin: 0;
	}
	.horizontal-carousel li .hc-image-wrap {
		height: auto !important;
		width: auto !important;
		margin: 20px;
	}
	.horizontal-carousel li img {
		opacity: 1;
		width: 100% !important;
		max-width: 100% !important;
		height: auto !important;
		min-height: 0;
	}
	.carousel-captions {
		display: none;
	}
	.horizontal-carousel-inner .prev-hcarousel,
	.horizontal-carousel-inner .next-hcarousel {
		display: none;
	}
	.responsive-titles {
		display: block;
	}
	.prev-hcarousel,
	.next-hcarousel {
		display: none;
	}

	#html5videocontrol {
		display: none;
	}
	
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {
	.container,
	.container-boxed,
	.title-container,
	.footer-container,
	.header-search-wrap #searchform input,
	.top-bar-wrap-boxed {
	    width: 360px;
	}
}

/* iPhone 6 landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) {
	.container,
	.container-boxed,
	.title-container,
	.footer-container,
	.header-search-wrap #searchform input,
	.top-bar-wrap-boxed {
	    width: 660px;
	}

}

/* iPhone 6+ Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) {

	.container,
	.container-boxed,
	.title-container,
	.footer-container,
	.header-search-wrap #searchform input,
	.top-bar-wrap-boxed {
	    width: 400px;
	}

}

/* iPhone 6+ landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) {

	.container,
	.container-boxed,
	.title-container,
	.footer-container,
	.header-search-wrap #searchform input,
	.top-bar-wrap-boxed {
	    width: 720px;
	}

}