.post-formats-fields,.post-format-description { display:none!important;}
.clearfix:after	{ content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
* html .clearfix{ height: 1%; }
*+html .clearfix{ height: 1%; }

.mtheme_admin_sort_title { margin-left:10px; position: relative; top:-10px; color:#7d7d7d; text-shadow: -1px 1px #fff;}
.mtheme_admin_sort_image { border:1px double #444; 		-moz-border-radius: 10px;	-webkit-border-radius: 10px; }
.mtheme_admin_sort_categories { font-size:10px; margin-left:43px; font-weight:normal; float:right; color:#7d7d7d;}
#featured-list { margin-top: 20px; }
 
	#featured-list li {
		padding: 10px;	
		width: 50%;	
		font-weight: bold;
 
		background: #f0f0f0; /* for non-css3 browsers */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e7e7e7'); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  #f7f7f7,  #e7e7e7); /* for firefox 3.6+ */
		cursor: move;
 
		border: 1px solid #ddd;
		border-raidus: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	}
	
	#featured-list li:hover {

		background: #f0f0f0; /* for non-css3 browsers */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#f0f0f0'); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#f0f0f0)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  #e7e7e7,  #f0f0f0); /* for firefox 3.6+ */
		cursor: move;
	}
	
#portfolio-list { margin-top: 20px; }
 
	#portfolio-list li {
		padding: 10px;	
		width: 50%;	
		font-weight: bold;
		font-size:12px;
 
		background: #f0f0f0; /* for non-css3 browsers */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e7e7e7'); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  #f7f7f7,  #e7e7e7); /* for firefox 3.6+ */
		cursor: move;
 
		border: 1px solid #ddd;
		border-raidus: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	}
	
	#portfolio-list li:hover {

		background: #f0f0f0; /* for non-css3 browsers */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#f0f0f0'); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#f0f0f0)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  #e7e7e7,  #f0f0f0); /* for firefox 3.6+ */
		cursor: move;
	}
 
#loading-animation { display: none; }

.mtheme_metabox_fieldname { font-family: "Open Sans" , Arial, Tahoma, Verdana, Sans; font-weight:bold; }
.mtheme_metabox_description { font-style: italic; }

/* Metaboxes */
.metabox-wrapper label { 
	font-size: 20px;
	font-weight: normal;
}

.metabox_label {
	margin: 10px 0 0 0;
}

.is_subtitle label {
	color: #7B7B7B;
	font-size: 16px;
	font-weight: bold;
}

.metabox-description {
	color: #585858;
	font-size: 12px;
	line-height: 16px;
	padding: 5px 0;
	max-width: 580px;
	width: 100%;
	font-style: italic;
}

.sectiontitle {
	color: #000000;
	display: block;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -1px;
	padding: 0 0 10px 0;
}

.maintitle {
	color: #000;
	display: block;
	font-size: 24px;
	letter-spacing: -1px;
	padding: 50px 0 5px;
}


.selectbox {
  position: relative; 
  display: inline-block;
  zoom: 1;
  border: 1px solid #aeaeae;
  background: #e6e6e6;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #e6e6e6));
  background-image: linear-gradient(top, white, #e6e6e6);
  border-radius: 5px;
  box-shadow: 0 1px 1px #d2d2d2;
  width:390px;
}

.selectbox select:hover {
	cursor: pointer;
}

.selectbox select {
  z-index: 10; 
  position: relative;
  border: none; 
  background: none; 
  outline: none; 
  opacity: 0;
  height: 24px;
  -webkit-appearance: none; 
  filter: alpha(opacity=0);
  width:390px;
}

.selectbox select option {
	padding-top:5px;
	padding-bottom:3px;
}

.selecttext {
	z-index: 9;
	position: absolute;
	display: inline-block;
	zoom: 1;
	left: 15px;
	padding-top: 4px;
	background: transparent;
	color: #666;
	top:0;
}

.select-arrow {
  background: url(../images/caret.png) no-repeat 50% 50%;
  position: absolute;
  display: inline-block;
  *display: inline;
  zoom: 1;
  height: 100%;
  width: 26px;
  top: 0;
  right: 0;
  border-left: 1px solid #d6d6d6;
}

.metabox-wrapper {
	padding: 30px;
}

.metabox-wrapper textarea,.metabox-wrapper input {
	width:100%;
	line-height:16px;
	color:#636363;
   padding: 9px;  
	border: 1px solid #DDDDDD;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
   outline: 0;  
   font-size:12px;  
   width: 390px;
}

.metaboxtype_radio {
	font-weight: bold;
	font-size:12px;
	color:#444;
}
.metabox-wrapper input[type=radio] {
	margin-bottom:10px;
	width:100%;
	line-height:16px;
	color:#333;
	padding: 9px; 
	outline: 0;  
	font-size:12px;  
	width: 20px;
	margin-left:20px;
}

.metabox-wrapper textarea {
	height:200px;
}


.metabox-wrapper .of-radio-img-radio {
	display:none;
}
.metabox-wrapper .of-radio-img-img {
	border:4px solid #eee;
	cursor:pointer;
	display:inline-block;
}

.metabox-wrapper .of-radio-img-label {
	display:none;
}

.metabox-wrapper .of-radio-img-selected {
	border: 4px solid #4C9EE3;
}
.metabox-wrapper .of-radio-img-img:hover {
	opacity:1;
}
.metabox-wrapper button {
	border:1px solid #0074A2;
	background:#2EA2CC;
	box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
	width:100px;
	height:37px;
	border-radius: 3px;
	font-weight: 600;
	color:#fff;
	position: relative;
	top:0;
	cursor:pointer;
}
.metabox-wrapper button:hover {
	border:none;
	background:#000;
}
.metabox-wrapper .button {
	border:1px solid #0074A2;
	background:#2EA2CC;
	box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
	width:120px;
	height:35px;
	font-weight: 600;
	color:#fff;
	text-shadow:none;
	position: relative;
	top:2px;
	cursor:pointer;
	border-radius: 3px;
}
.metabox-wrapper .button:hover {
	border:none;
	background:#000;
	color:#fff;
}



		/* range */
		.metaboxtype_range  {
			width:500px;
		}

		.ranger-min-max-wrap {
			display:block;
			width:300px;
			padding-top:25px;
			position:relative;
			top:14px;
			}
			
		.ranger-min-value,	.ranger-max-value {
			    color: #8B8A8A;
			    font-size: 9px;
				font-weight:bold;
			    padding: 4px 0 0;
			    position: absolute;
			}

		.ranger-min-value {
			
			
			left:0;
			}

		.ranger-max-value {
			right:0;
			}
		
		
		.ranger-bar {
			float: right;
			left: -95px;
			position: relative;
			top: -45px;
			width: 65px;
		}
		.ranger-bar input { width:60px !important;		  box-shadow: inset 0 1px 2px 0px rgba(0, 0, 0, .2),   
		                 0 1px 0 0px rgba(50, 50, 50, .1);  }
		.ranger-bar span { 
			color: #898989;
			display: block;
			font-size: 8px;
			letter-spacing: 2px;
			text-align: center;
			text-transform: uppercase;
			width: 60px;
			}

		.ui-slider { position: relative; text-align: left; }
		.ui-slider .ui-slider-handle { }
		.ui-slider .ui-slider-range {  }

		.ui-slider-horizontal {
			border-width: 2px;  
		    border-style: solid;  
		    border-color: #f4f4f4;  
		    border-radius: 25px;  
		    width: 300px;  
		    height: 8px;
			margin-bottom:18px;
		    background-color: #f7f7f7; 
		  box-shadow: inset 0 1px 2px 0px rgba(0, 0, 0, .2),   
		                 0 1px 0 0px rgba(250, 250, 250, .5);  
		 }
		.ui-slider-horizontal .ui-slider-handle {
			position: absolute;  
		    z-index: 2;  
		    width: 25px;  
		    height: 25px;  
		    cursor: pointer;
		    background: transparent url(../images/handle.png) no-repeat 0 0;
		    color: #1C94C4;  
		    outline: none;  
		    top: -9px;  
		    margin-left: -12px;
		 }
		.ui-slider-horizontal .ui-slider-range { 
			background: #5AB7DE;
		  box-shadow: inset 0 2px 4px 0px rgba(0, 0, 0, .8),   
		                 0 1px 4px 0px rgba(250, 250, 250, .5); 
		    position: absolute;  
		    border: 0;  
		    top: 0;  
		    height: 100%;  
		    border-radius: 25px;
	 }
		.ui-slider-horizontal .ui-slider-range-min { left: 0; }
		.ui-slider-horizontal .ui-slider-range-max { right: 0; }


/* Shortcodes Dropdown List */
#menu_content_content_mthemeShortcodes_menu_tbl {
	width:330px;
	background: #DCDCDC;
	padding:0;
}
#menu_content_content_mthemeShortcodes_menu_tbl .mceMenuItem {
	float:left;
}
#menu_content_content_mthemeShortcodes_menu_tbl .mceMenuItem,
#menu_content_content_mthemeShortcodes_menu_tbl .mceMenuItem td {
	width:165px;

}
#menu_content_content_mthemeShortcodes_menu_tbl .mceMenuItem a {
	padding:5px;
	width: 150px;
	border-bottom: 1px solid #CFCFCF;
}
#menu_content_content_mthemeShortcodes_menu_tbl .mceMenuItem .mceIcon {
	left:5px;
	top:2px;
}

#menu_content_content_mthemeShortcodes_menu_tbl tbody tr.mceMenuItemDisabled {
	float:none;
	width:100%;
}
#menu_content_content_mthemeShortcodes_menu_tbl tbody tr.mceMenuItemDisabled a {
	width:100%;
	margin-bottom: 5px;
}
.selecttext {
	top:0;
}

.mtheme-gallery-thumbs li {
	display:inline;
}

.metabox-fields {
	padding:10px 0;
}
.is_title {
	margin-top: 10px;
}
.is_subtitle {
	padding-top:5px;
}