body {
    color:#9C9C9C;
    background-color:#000;
}

.fullpage-contents-wrap,
.sc_slideshowtitle,
.entry-page-wrapper,
.mtheme_portfolio .container,
.portfolio-content-column,
.contents-wrap,
.woocommerce #container,
.archive-page-wrapper {
    background: #000;
    background: rgba(0, 0, 0, 0.85);
}
.fullwidth-theme .container-fullwidth {
    background: #000;
    background: rgba(0, 0, 0, 0.85);
}
.fullwidth-theme .recent-portfolio-single .item-title {
    color:#fff;
}
.person {
    background-color: #000;
    background: rgba(47, 47, 47, 0.5);
}
.person i {
    color:#fff;
}
.person i:hover {
    color:#aaa;
}
a {
    color:#a9a9a9;
}
a:hover {
    color:#fff;
}
.pagination-navigation {
    border-color: #252525;
    }
.entry-content {
    color: #858585;
    }
.entry-content a:hover {
    color: #fff;
}

.entry-title {
    background: #000;
    background: rgba(0, 0, 0, 0.85);
}
.entry-title h1,
.entry-title h2 {
    border-color: #232323;
    border-color: rgba(255, 255, 255, 0.1);
}
.entry-title h1,
.entry-title h2 {
    color: #eee;
}
.entry-content .readmore_link a {
    color: #bcbcbc;
}

.ajax-gridblock-data h2 a {
    color: #fff;
    }
a.ajax-navigation-arrow i {
    color: #fff;
}
.ajax-loading {
    border-top: 4px solid rgba(255, 255, 255, 0.2);
    border-right: 4px solid rgba(255, 255, 255, 0.2);
    border-bottom: 4px solid rgba(255, 255, 255, 0.2);
    border-left: 4px solid #ffffff;
}
.flexslider-loader {
    border-top: 4px solid rgba(255, 255, 255, 0.2);
    border-right: 4px solid rgba(255, 255, 255, 0.2);
    border-bottom: 4px solid rgba(255, 255, 255, 0.2);
    border-left: 4px solid #ffffff;
}

.postsummarywrap i {
    color:#fff;
}
.page-link {
    color:#fff;
}
.page-link a {
    background: #373737;
    color: #000000;
    padding: 2px 7px
}
.entry-content-wrapper .sticky {
    border-color: #2F2F2F;
    }
#goto-top {
    border-color: #444444;
    color:#fcfcfc;
    }
.skillbar {
    background: rgba(255, 255, 255, 0.1);
}
.project-details-link i {
    color: #fff;
}

.gridblock-four .work-details,
.gridblock-three .work-details,
.gridblock-two .work-details,
.gridblock-one .work-details  {
    border-color: #262626;
}

    .post-single-tags a {
        background-color: #111;
        border-color: #000;
    }
    .post-single-tags,
    .post-single-tags a {
        color: #888888;
    }
    .entry-content blockquote {
        background: #212121;
    }

#contactform #contact label {
    color:#fff;
}

.entry-content a,
.header-search,
.gridblock-four h4 a,
.gridblock-three h4 a,
.gridblock-two h4 a,
.gridblock-one h4 a,
.gridblock-list h4 a,
.toggle-shortcode-wrap .active,
.toggle-shortcode-wrap .toggle-shortcode:hover,
.project-details a,
.post-single-tags a:hover,
.post-meta-category a:hover,
.post-single-meta a:hover,
.post-navigation a:hover,
.sidebar ul li a:hover,
.entry-post-title h2 a:hover,
.comment-reply-title small a {
    color: #fff;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.readmore_link a:hover {
    color:#fff;
}
.entry-content .fullpage-block h6 {
    color:#aaa;
    }

.entry-content .blogpost_readmore a {
    color:#aaa;
}
.entry-content .blogpost_readmore a:hover {
    color:#fff;
}

.entry-content .postlist ul li a {
    color:#ababab;
}
.entry-content .postlist ul li a:hover {
    color:#fff;
}

.entry-content table,
.entry-content table tbody td,
.entry-content table th,
.entry-content table td {
    border-color: #333;
}

/*
Sidebar Styles*/

.sidebar-wrapper {
    background: #000;
    background: rgba(31, 31, 31, 0.9);
    }
.sidebar .widget {
    border-color: #232323;
    border-color: rgba(150, 150, 150, 0.1);
}

.sidebar-wrap ,.sidebar-wrap-single {
}
.sidebar {
    color:#aaa;
}

.sidebar h3,
#searchform i {
    color:#fff;
}
.sidebar ul li a,
#searchform input,
.postsummarywrap {
    border-color: #2B2B2B;
}
.sidebar .mtheme-tweets .tweet_list li a {
    color:#6a6a6a;
}
#recentposts_list .recentpost_info .recentpost_title:hover,
#popularposts_list .popularpost_info .popularpost_title:hover  {
    color: #fff;
    }


#wp-calendar tbody td,
#wp-calendar tfoot tr td  {
    border-color: #2D2D2D;
}

.tagcloud a,
#footer .tagcloud a { 
    background:#333;
}
/*
Blog Slideshow*/

.sc_slideshowtitle {
    border-color: #333333;
    color: #bababa;
}

.recent-portfolio-single {
    background: rgba(60, 60, 60, 0.7);
    }

#gridblock-filter-select,
ul.portfolio-share {
    border-color: #3A3A3A;
    color:#fff;
    }
.portfolio-share li a {
    border-color:#444;
}
#gridblock-filter-select:hover {
    color:#fff;
}
#gridblock-filters {
    color:#fff;
}
#gridblock-filters li a {
    color:#fff;
    }
#gridblock-filters:hover li a {
    color:#777;
}
#gridblock-filters li .is-active,
#gridblock-filters li a:focus,
#gridblock-filters a:focus,
#gridblock-filters li .is-active,
#gridblock-filters li .is-active:hover {
    color:#fff;
}
#gridblock-filters a:hover,
#gridblock-filters li a:hover,
#gridblock-filters li a:hover span {
    color: #fff;
    border-color:#fff;
}
#gridblock-filters li a {
    border-bottom: 1px solid #222222;
    }



.mbutton span {
    color: #FFFFFF;
}
.button-text-white .button-icon {
    color:#fff;
}

/*
Related Carousel*/
.recent-single-carousel-wrap {
    }
.gridblock-carousel-wrap .next,
.gridblock-carousel-wrap .prev {
    color: #FFFFFF;
}

    .grid-blank-status {
        background: rgba(55,55,55,0.5);
    }
    .gridblock-element:hover .grid-blank-status {
        background: rgba(55,55,55,0.9);
    }
    .grid-blank-element .grid-blank-status i {
        color: #fff;
    }
    .summary-info .summary-comment a {
        color: #a9a9a9;
    }

.grid-blank-status {
    }
.gridblock-protected i {
    color: #fff;
}
.gridblock-protected {
}
/*
Social
*/
.portfolio-share li:hover i {
    color: #fff;
}
/*
Navigations*/
.portfolio-nav-item i:hover {
    color: #eee;
}

/*To Top Link*/

.entry-content .hrule {
    border-color: #222222;
    }


/*
Portfolio*/

ul.vertical_images .vertical-images-title {
    color: #8F8F8F;
    }

/*Password
*/
#password-protected label {
    color: #F8F8F8;
    }
#password-protected input {
    background:#444;
    border-color:#4a4a4a;
    color:#fff;
}
        #password-protected input[type="submit"]:hover {
            color: #fff;
            border-color:#aaa;
        }
        #password-protected input[type="submit"]:active {
            color: #fff;
            border-color:#aaa;
        }
/*
Pricing Table*/
.pricing-column {
    background: #252525;
}
.pricing-table .pricing-title {
    color: #E8E8E8;
    }

.pricing-table .pricing-price {
    color: #FFFFFF;
}
.pricing-table .pricing-duration {
    color: #000;
    background-color:#fff;
    }
.pricing-table .pricing-row {
    background: #363636;
    border-bottom: 1px solid #454545;
    }
.pricing_highlight .pricing-column {
    background: #515151;
}
.pricing-table .pricing_highlight .pricing-row {
    background: #4A4A4A;
    color:#fff;
}


/*
Blog*/
.entry-content .hrule.top a {
    background: #292929;
    color:#aaa;
}
.entry-content .hrule.top a:hover {
    color:#fff;
}
.summary-info {
    border-color:#222;
}

/*
Comments*/
#commentform label {
    color: #fff;
    }

ol.commentlist li {
    background: #000000;
}
ol.commentlist li.even {
     background: #333;
     border-color:#3a3a3a;
}
ol.commentlist li.odd {
    background: #444;
    border-color:#4a4a4a;
}
#comments {
    color: #e3e3e3;
    }
ol.commentlist li .comment-author,
ol.commentlist li .comment-author a,
ol.commentlist li .comment-author .fn {
    color: #fff;
}
ol.commentlist li .comment-author .fn {
    color: #BFBFBF;
}
ol.commentlist li p {
    color: #A3A3A3;
}
ol.commentlist li .comment-meta a {
    color: #9C9C9C;
    }
ol.commentlist li .reply a {
    color: #D6D6D6;
    border-color:#fff;
}
ol.commentlist li .comment-author .fn a {
    color: #fff;
}
#respond h3 {
    color: #fff;
    }
#commentform input#submit {
    color: #eee;
}
#contactform .button, #commentform input#submit {
    border-color:#fff;
}
#contactform .button:hover,
#commentform input#submit:hover,
ol.commentlist li .reply a:hover,
#respond #commentform input#submit:hover {
    border-color: #fff;
    background-color: #fff;
    color: #000;
}
/*
Pagination*/

.pagination:after {
}
.pagination span.current,
.pagination-info {
    color:#fff;
}
.pagination a {
}
.pagination a:link,
.pagination .navigation-single,
.pagination span.current,
ol.commentlist li .reply a,
.pagination a:visited {
    color: #FFFFFF;
    outline: 0 none;
}
.navigation a:active,
.navigation a:hover {
    color: #fff;
}

/*
Callout*/
.callout {
    border: 1px solid #454545;
}

/*
Slideshow Shortcodes*/
.slideshow-box-content {
    border-color: #2D2D2D;
}
.slideshow-box-content .slideshow-box-title a {
    color: #FFFFFF;
}

/*
Staff Shortcode*/

.person {
    border-color: #292929;
    }
.person:hover {
    border-color: #444;
    }
.person h3, .entry-content .person h3 {
    color: #FFFFFF;
}
.person h4, .entry-content .person h4 {
    color: #BEBEBE;
    }


/*
Testimonials*/

.client-image {
    background: #555555;
    border: 1px solid #222;
    }

.client-say {
    border-color: #3D3D3D;
}
.testimonials-wrap .flexslider-container-page .flex-direction-nav li a {
    background-color: #eee;
    }
.testimonials-wrap #flex-testimonails .flex-direction-nav li a:hover {
    background-color: #aaa;
    }
.client-name {
    color: #fff;
}
.testimonials-wrap .flexslider-container-page .flex-direction-nav li a {
    background-color: #000000;
}

/*
Thumbnails*/
.thumbnails-shortcode .work-details h4 {
    color:#ddd;
}

/*
Accordions */
.wp-accordion {
}
.ui-accordion-header.ui-state-default a {
    color: #D0D0D0;
    }
    .ui-accordion-header.ui-state-default a:hover {
    color:#fff;
    }
.wp-accordion h3.ui-state-active {
    }
.wp-accordion h3 {
    border-top-color: #2D2D2D;
}
    .wp-accordion h3:hover {
        background:#555;
    }
.ui-accordion-content {
    background: #343434;
    border-color:#343434;
}
    .ui-accordion-header-icon {
    background: url(images/icons/accordion-toggle-bright.png) no-repeat 5px 0;
    }
    .ui-state-active .ui-accordion-header-icon  {
    background: url(images/icons/accordion-toggle-bright.png) no-repeat 5px -24px;
    }

.wp-accordion h3 a,
.ui-accordion-header.ui-state-default a {
    background: #1a1a1a;
}
/*
Tabs*/
.ui-tabs .ui-tabs-panel,
.ui-tabs .ui-tabs-nav .ui-state-active a,
.ui-tabs .ui-tabs-nav .ui-state-active a:hover {
    background: #3C3C3C;
    }
.ui-tabs .ui-tabs-nav .ui-state-active a, .ui-tabs .ui-tabs-nav .ui-state-active a:hover {
    color:#fff;
}
.ui-tabs .ui-tabs-nav li a {
    background-color: #222;
}
.ui-tabs .ui-tabs-nav li a:hover {
    color:#eee;
}
.ui-tabs .ui-tabs-panel {
    border-color:#2c2c2c;
}
.ui-tabs .ui-tabs-nav li a:hover{
    color:#000;
    background: #555;
    }
.ui-tabs-vertical,
.ui-tabs-vertical ul{
    background: #3c3c3c;
}
.ui-tabs-vertical .ui-tabs-nav li a {
    border-color:#000;
}
.ui-tabs-vertical .ui-tabs-nav .ui-state-active a,
.ui-tabs-vertical .ui-tabs-nav .ui-state-active a:hover {
}
.ui-tabs-vertical .ui-tabs-panel { 
    border:0;
}

.ui-tabs .tab-contents {
    background: #3e3e3e;
    }

/*
Toggle*/
.entry-content h3.toggle-shortcode:hover{
    color:#fff;
}

/*
Drop Cap*/
.entry-content .dropcap2 {
    background: #6A6A6A;
}
/*
Contact Forms*/

#contact .button,#commentform input#submit,
.wpcf7-form input[type="button"],
.wpcf7-form input[type="submit"],
.wpcf7-form input[type="reset"] {
    color: #fff;
    border-color:#fff;
}
.wpcf7-form p {
    color:#aaa;
}
#contact .button:hover,
.wpcf7-form input[type="button"]:hover,
.wpcf7-form input[type="submit"]:hover,
.wpcf7-form input[type="reset"]:hover {
    color: #000;
    border-color:#fff;
    background: #fff;
    cursor:pointer;
}
/*
Address*/

.contact_address_block .contact_phone:before,
.contact_address_block .contact_mobile:before,
.contact_address_block .contact_email:before,
.contact_address_block .contact_name:before {
    color:#fff;
    }
/*
Search*/
#searchform input {
    border-color: #3E3E3E;
}

.portfolio_widget_about,
.portfoliorelated_widget_about {
    color:#A5A7AE;
}

ul.gridblock-listbox .gridblock-listbox-row .grid-blank-status i {
    color:#fff;
}
ul.gridblock-listbox .gridblock-listbox-row {
    border-bottom-color: #2c2c2c;
    }

/*
Widget Thumbnails*/

.sidebar .infobar-portfoliogrid li img,
.footer-widget .infobar-portfoliogrid li img {
    border-color: #000000;
    }

#recentposts_list li, #popularposts_list li {
    border-bottom-color: #2d2d2d;
}

.footer-container-wrap,
.footer-container {
    background:#000;
}
#footer h3 {
    color:#fff;
}
.footer-widget ul li,
.footer-widget #recentposts_list li,
.footer-widget #popularposts_list li {
    border-color: #282828;
    }
#footer a:hover {
    color:#fff;
}

table {
    border-color: #282828;
}

/*
WooCommerce*/

.woocommerce.single-product .related {
    border-top: 1px solid #212121;
}

.woocommerce-breadcrumb a {
    color: #8f8f8f !important;
    }

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-2 {
    background: #000;
    background: rgba(0,0,0,0.4);
    }

.woocommerce table.cart td.actions,
.woocommerce #content table.cart td.actions,
.woocommerce-page table.cart td.actions,
.woocommerce-page #content table.cart td.actions,
.woocommerce table.shop_table thead {
}

.woocommerce .widget_shopping_cart .total,
.woocommerce-page .widget_shopping_cart .total,
.woocommerce-page.widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {
    border-color: #373737;
    }
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button {
    border-color: #555;
}
.sidebar .woocommerce .widget_shopping_cart_content {
    border-color: #282828;
}
.woocommerce ul.product_list_widget li {
    border-color: #212121;
    }

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    border-color:#2a2a2a;
}
.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3 {
    color: #fff;
    }
.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {
    color: #fff !important;
    }
.woocommerce a.button,
.woocommerce-page a.button,
.woocommerce button.button,
.woocommerce-page button.button,
.woocommerce input.button,
.woocommerce-page input.button,
.woocommerce #respond input#submit,
.woocommerce-page #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page #content input.button {
    color:#dcdcdc !important;
}
.woocommerce a.button:hover,
.woocommerce-page a.button:hover,
.woocommerce button.button:hover,
.woocommerce-page button.button:hover,
.woocommerce input.button:hover,
.woocommerce-page input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce #content input.button:hover,
.woocommerce-page #content input.button:hover {
    color:#fff !important;
}
.woocommerce div.product span.price,
.woocommerce div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce #content div.product p.price,
.woocommerce-page div.product span.price,
.woocommerce-page div.product p.price,
.woocommerce-page #content div.product span.price,
.woocommerce-page #content div.product p.price {
    color:#fff !important;
}
.woocommerce #content nav.woocommerce-pagination ul li a:focus,
.woocommerce #content nav.woocommerce-pagination ul li a:hover,
.woocommerce #content nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce-page #content nav.woocommerce-pagination ul li a:focus,
.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,
.woocommerce-page #content nav.woocommerce-pagination ul li span.current,
.woocommerce-page nav.woocommerce-pagination ul li a:focus,
.woocommerce-page nav.woocommerce-pagination ul li a:hover,
.woocommerce-page nav.woocommerce-pagination ul li span.current {
    color:#fff !important;
}

.woocommerce-pagination {
    border-top:1px solid #303030;
}

.mtheme-woo-order-selected {
    border-color:#3a3a3a;
    color: #FFFFFF;
    }
.mtheme-woo-order-selected:hover {
    color:#fff;
}
.mtheme-woo-order-selected-wrap i {
    color:#fff;
}
.mtheme-woo-order-list ul {
    background:#323232;
}
.mtheme-woo-order-list ul li {
    border-color: #2c2c2c;
    }

.woocommerce div.product .product_title,
.woocommerce #content div.product .product_title,
.woocommerce-page div.product .product_title,
.woocommerce-page #content div.product .product_title,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a {
    color:#fff !important;
    text-shadow:none !important;
}

.woocommerce div.product .woocommerce-tabs .panel,
.woocommerce #content div.product .woocommerce-tabs .panel,
.woocommerce-page div.product .woocommerce-tabs .panel,
.woocommerce-page #content div.product .woocommerce-tabs .panel,
.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after {
    border-color:#3a3a3a !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
    background:#3a3a3a !important;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li {
    border-color: #3a3a3a !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {
    background:#555 !important;
}

.woocommerce .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce #content .quantity .minus,
.woocommerce-page .quantity .plus,
.woocommerce-page .quantity .minus,
.woocommerce-page #content .quantity .plus,
.woocommerce-page #content .quantity .minus {
    background: #777 !important;
    color:#fff !important;
}
.woocommerce .quantity .plus:hover,
.woocommerce .quantity .minus:hover,
.woocommerce #content .quantity .plus:hover,
.woocommerce #content .quantity .minus:hover,
.woocommerce-page .quantity .plus:hover,
.woocommerce-page .quantity .minus:hover,
.woocommerce-page #content .quantity .plus:hover,
.woocommerce-page #content .quantity .minus:hover {
    background-color: #aaa !important;
}

.woocommerce .quantity input.qty,
.woocommerce #content .quantity input.qty,
.woocommerce-page .quantity input.qty,
.woocommerce-page #content .quantity input.qty {
    border-color: #6a6a6a !important;
    background:#000 !important;
    box-shadow: none !important;
    color:#fff !important;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text,
.woocommerce-page #reviews #comments ol.commentlist li .comment-text {
    border-color: #2C2C2C !important;
    }
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong,
.woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta strong {
    color:#fff !important;
}

.woocommerce-breadcrumb {
    color: #FFFFFF !important;
}

.woocommerce .woocommerce-message .button {
    color:#777 !important;
}
.woocommerce .woocommerce-message .button:hover {
    color:#000 !important;
}

.woocommerce table.shop_table th,
.woocommerce-page table.shop_table th {
    color: #fff;
}
.woocommerce .shop_table .product-name,
.woocommerce .shop_table .product-price,
.woocommerce .shop_table .product-subtotal {
    color: #ffffff;
    }

.woocommerce table.shop_table td,
.woocommerce-page table.shop_table td {
    border: none !important;
}
.woocommerce table.cart th,
.woocommerce table.cart td,
.woocommerce #content table.cart th,
.woocommerce #content table.cart td,
.woocommerce-page table.cart th,
.woocommerce-page table.cart td,
.woocommerce-page #content table.cart th,
.woocommerce-page #content table.cart td {
    color:#fff;
}

.shop_table .cart_table_item {
    padding: 20px 0;
}
.woocommerce .shop_table .even {
    background:#222;
}
.woocommerce .shop_table .odd {
    background:#333;
}
.woocommerce .cart_totals strong {
    color:#aaa;
}
.woocommerce .cart_totals h2 {
    color: #fff;
    }

.woocommerce .related h2,
.woocommerce .upsells h2,
.woocommerce .cross-sells h2 {
    color: #fff;
}
.woocommerce table.shop_table,
.woocommerce-page table.shop_table {
    border-color: #2F2F2F !important;
    }

.woocommerce .checkout_table_item {
    background: #303030;
}
.woocommerce .checkout_table_item .product-quantity {
    color:#fff;
}
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th,
.woocommerce-page table.shop_table tfoot td,
.woocommerce-page table.shop_table tfoot th {
    border:0 !important;
}
.woocommerce ul.products li.product h3,
.woocommerce-page ul.products li.product h3 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }
.woocommerce-page table.shop_table strong {
    color:#fff;
}
.woocommerce #payment, .woocommerce-page #payment {
    background: #4E4E4E !important;
    }
.woocommerce #payment ul.payment_methods, .woocommerce-page #payment ul.payment_methods {
    border-bottom: 1px solid #333 !important;
}
.woocommerce #payment div.form-row, .woocommerce-page #payment div.form-row {
    border-top: 1px solid #555 !important;
}
.woocommerce #payment .payment_methods li label{
    color:#fff !important;
}
.woocommerce .woocommerce-info a {
    color:#444;
}
.woocommerce .woocommerce-info a {
    color:#000;
}
.woocommerce table th,
.woocommerce table td {
    color: #fff;
}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    border-top: 5px solid #fff;
    }
.woocommerce .shipping-calculator-button {
    border: 1px solid #aaa;
    color: #aaa;
}

.woocommerce form .form-row label,
.woocommerce-page form .form-row label {
    color: #fff;
}
.woocommerce form .form-row textarea,
.woocommerce-page form .form-row textarea {
    height: 185px !important;
    }

.woocommerce table.shop_table,
.woocommerce-page table.shop_table {
    border-radius:0 !important;
}
.woocommerce table.shop_table thead {
}
.woocommerce .cart-collaterals .cart_totals tr td,
.woocommerce .cart-collaterals .cart_totals tr th,
.woocommerce-page .cart-collaterals .cart_totals tr td,
.woocommerce-page .cart-collaterals .cart_totals tr th {
    border-top: 1px solid #454345 !important;
}
.woocommerce #content nav.woocommerce-pagination ul li a:focus,
.woocommerce #content nav.woocommerce-pagination ul li a:hover,
.woocommerce #content nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce-page #content nav.woocommerce-pagination ul li a:focus,
.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,
.woocommerce-page #content nav.woocommerce-pagination ul li span.current,
.woocommerce-page nav.woocommerce-pagination ul li a:focus,
.woocommerce-page nav.woocommerce-pagination ul li a:hover,
.woocommerce-page nav.woocommerce-pagination ul li span.current {
    background: #000;
    color:#fff;
}
.woocommerce nav.woocommerce-pagination ul li,
.woocommerce #content nav.woocommerce-pagination ul li,
.woocommerce-page nav.woocommerce-pagination ul li,
.woocommerce-page #content nav.woocommerce-pagination ul li {
    border-color:#222 !important;
}
.woocommerce table.shop_table thead th,
.woocommerce-page table.shop_table thead th {
    border-bottom: 1px solid #ffffff !important;
}

.woocommerce #order_review table.shop_table,
#order_review .woocommerce-page table.shop_table {
    border-color: #fff !important;
}

.woocommerce .mtheme-woocommerce-description-wrap .add_to_cart_button:after {
    color:#fff;
}
.woocommerce p.stars a:hover {
    color:#fff !important;
}
    .woocommerce-breadcrumb a:hover {
        color:#fff !important;
    }

.woocommerce ul.products li.product .price .from,
.woocommerce-page ul.products li.product .price .from,
.woocommerce ul.products li.product .price del,
.woocommerce-page ul.products li.product .price del {
    color: #ddd !important;
}
.woocommerce table.variations td {
    color:#fff;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    background: rgba(65, 65, 65, 0.5);
    }
.mtheme-woocommerce-description-wrap-last {
}
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary,
.woocommerce div.product .woocommerce-tabs .panel,
.woocommerce #content div.product .woocommerce-tabs .panel,
.woocommerce-page div.product .woocommerce-tabs .panel,
.woocommerce-page #content div.product .woocommerce-tabs .panel {
    background: rgba(44, 44, 44, 0.5);
    }
.woocommerce .mtheme-woocommerce-description-wrap:hover .add_to_cart_button:after,
.woocommerce .mtheme-woocommerce-description-wrap:hover .add_to_cart_button {
    color:#fff !important;
}


.sidebar .woocommerce .widget_shopping_cart_content {
    background: #1f1f1f;
}

.person-socials {
    border-color:#333333;
}

.postsummarywrap {
    }
.donutcounter-item,
.time-count-data {
    color:#fff;
}

ul.portfolio-share {
    border-color: #2F2F2F;
}


#gridblock-filter-select {
    border-color: #696969;
    }

#gridblock-filter-select:hover,
.mtheme-woo-order-selected:hover {
    border-color: #eee;
    }
.top-bar-wrap {
    background: #292929;
}
.social-header-wrap ul li.social-icon:hover i {
}
#copyright {
}

.client-position:after,
.client-position:before {
    background: #eee;
    }

#recentposts_list .recentpost_info .recentpost_title,
#popularposts_list .popularpost_info .popularpost_title {
    color: #ddd;
    }

.divider-line {
    border-top:1px solid #4F4F4F;
}
.divider-double {
    border-top:3px double #4F4F4F;
}
.divider-stripes {
    background-image: url(images/darkskin/dividers/stripes.png);
}
.divider-thinfade {
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 90%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(90%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 90%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 90%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 90%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 90%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.divider-threelines {
    border-top:3px double #4F4F4F;
    border-bottom:1px solid #4F4F4F;
}
.divider-circleline {
    background-image: url(images/darkskin/dividers/circleline.png);
}
.divider-stripedcenter {
    background-image: url(images/darkskin/dividers/stripedcenter.png);
}
.divider-linedcenter {
    background-image: url(images/darkskin/dividers/linedcenter.png);
}

.shopping-bag-header-link {
    background-image: url(images/icons/shopping_bag_white.png);
}

.entry-content .entry-post-title h2 a:hover,
.quote_author {
    color:#fff;
}

#commentform-section,
.commentform-wrap {
    background: #252525;
    }
h4#comments {
    color: #FFFFFF;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.person h3,
.entry-content .person h3,
.client-position,
.pagination-info {
    color: #fff;
}


.gridblock-four h4 a,
.gridblock-three h4 a,
.gridblock-two h4 a,
.gridblock-one h4 a,
.gridblock-list h4 a,
.header-search:hover,
.social-header-wrap ul li i,
.social-header-wrap ul li.social-icon,
.social-header-wrap ul li.contact-text,
.social-header-wrap ul li.contact-text i,
.social-header-wrap ul li.contact-text a,
.postsummarywrap a,
.sidebar a,
.portfolio-share li a,
.min-search .icon-search,
.header-shopping-cart a i,
.header-shopping-cart a,
ul.gridblock-listbox .work-details h4 a,
.woocommerce ul.products li.product h3,
.woocommerce-page ul.products li.product h3 {
    color:#C6C6C6;
}
.gridblock-four .work-description,
.gridblock-three .work-description,
.gridblock-two .work-description,
.gridblock-one .work-description {
    color: #828282;
    }

.entry-content .highlight {
    color: #171717;
}

    .social-header-wrap ul li.contact-text a:hover,
    .postsummarywrap a:hover,
    .client-company a:hover,
    .portfolio-share li a:hover,
    .woocommerce ul.products li.product h3:hover,
    .woocommerce-page ul.products li.product h3:hover,
    .woocommerce .product_meta a:hover,
    .min-search .icon-search:hover,
    .entry-content .entry-post-title h2 a,
    .ajax-gridblock-data h2 a:hover,
    ul.gridblock-listbox .work-details h4 a:hover,
    .gridblock-filter-select-text {
        color:#fff;
    }


.gridblock-gallery-preloader {
  border-top: 5px solid rgba(255, 255, 255, 0.2);
  border-right: 5px solid rgba(255, 255, 255, 0.2);
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
  border-left: 5px solid #aaa;
}
