.responsive-menu-wrap {
	display: none;
}
.mobile-menu-toggle {
	background:#fff;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	position: relative;
	z-index: 100;
	height:48px;
}
.logo-mobile img {
	height:20px;
	position: relative;
	top:16px;
}
.mobile-menu-icon {
	position:absolute;
	float:right;
	left:0;
	top:0;
	height:48px;
	width:48px;
	line-height: 48px;
	text-align: center;
	cursor: pointer;
	background:#303030;
	color:#fff;
}
.mobile-menu-icon {
	font-size: 18px;
}
.responsive-mobile-menu {
	background:#303030;
	color:#000;
	width:280px;
	padding-bottom: 50px;
	position: fixed;
	left:-280px;
	top:0;
	float:left;
	z-index: 999;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    height:100%;
}
.responsive-mobile-menu .mobile-menu {
	padding:10px 20px 60px;
	text-align: center;
}
.responsive-mobile-menu #s {
	margin:5px;
}
.responsive-mobile-menu #searchform {
	padding: 25px 0 0 35px;
}
.responsive-mobile-menu #searchform i {
	color:#fff;
}
.responsive-mobile-menu #searchform input {
    width: 150px;
	text-indent: 20px;
	background:#fff;
	color:#000;
	font-weight: 400;
	font-size:11px;
}
.responsive-mobile-menu #searchbutton {

}
.responsive-mobile-menu ul li a {
	padding-bottom:15px;
}
.responsive-mobile-menu ul li a {
	font-size:12px;
	color:#fff;
	font-weight: bold;
	letter-spacing: 0.5px;
	display:block;
	padding: 1px 10px;
	margin-top:10px;
	text-transform: uppercase;
}
.responsive-mobile-menu ul li ul.children-depth-0 a {
	font-size:14px;
	font-weight: normal;
	margin-top:0;
	padding:2px 20px;
	color:#a6a6a6;
	background:none;
}
.responsive-mobile-menu li.menu-item-has-children a {
	border-bottom: 1px solid #3c3939;
	font-weight: bold;
	padding-bottom: 10px;
}
.responsive-mobile-menu ul.sub-menu li a {
	color:#a6a6a6;
	letter-spacing: 0;
	font-weight: 600;
	display:block;
	margin-top:0;
	border-top:0;
	padding-top:6px;
	padding-bottom: 6px;
}
.responsive-mobile-menu .megamenu-textbox {
	font-size:11px;
	line-height:20px;
	color:#eee;
	padding: 2px 20px 20px 20px;
}
.responsive-mobile-menu h6 {
	color:#fff;
	padding:0 0 10px 20px;
	margin:0;
	font-size:14px;
	margin-top:20px;
}
.responsive-mobile-menu ul.sub-menu {
	margin-bottom: 20px;
}
.responsive-mobile-menu li {
	display:block;
}
.responsive-mobile-menu ul li a:hover,
.responsive-mobile-menu li.menu-item-has-children a:hover {
}