/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	right: 0;
	z-index: 99;
	top:55px;
}
.sf-menu > li {
	display: inline-block;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	right: 100%;
}


/*** DEMO SKIN ***/
.sf-menu {
}
.sf-menu ul {
}
.sf-menu a {
	text-decoration: none;
}
.sf-menu a {
	color: #fff;
    display: block;
	font-size: 11px;
	font-weight: 600;
    letter-spacing: 0.5px;
    padding: 13px 18px;
    text-transform: uppercase;
}
.sf-menu ul li a {
	font-weight: 500;
}
.sf-menu li {
	-webkit-transition: background .2s;
	transition: background .2s;
}
.sf-menu ul li {
	
}
.sf-menu ul ul li {
}
.sf-menu li:hover,
.sf-menu li.sfHover {
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}


/*** adding the class sf-navbar in addition to sf-menu creates an all-horizontal nav-bar menu ***/
.sf-navbar {
	background: transparent;
	position: relative;
	margin: 0;
	width: 100%;
	text-align: right;
}
/* provide background colour for submenu strip */
/* you should just set the menu's container bg colour rather than use pseudo-elements */
.sf-navbar:before {
	content: '';
	position: absolute;
	left: 0;
	z-index: -1;
	background-color: transparent;
	height: 200%;
	width: 100%;
}
.sf-navbar ul {
	box-shadow: none;
}
.sf-navbar li {
	position: static;
}
.sf-navbar > li > a,
.sf-navbar > li > ul > li > a {
	border: none;
}
.sf-navbar > li > ul {
	text-align: right;
}
.sf-navbar ul li {
	border-top:1px solid rgba(255,255,255,0.05);
	border-right:1px solid rgba(255,255,255,0.05);
	background: rgba(34,34,34,0.95);
	position: relative;
	margin-bottom: 3px;
}
.sf-navbar ul ul li {
	margin-bottom: 0;
}
.sf-navbar ul ul {
	right: 0;
	top: 100%;
}
.sf-navbar ul ul li {
	width: 100%;
}
.sf-navbar > li > ul > li {
	display: inline-block;
	text-align: right;
	margin-left: -4px;
}
.sf-navbar > li > ul > li > ul > li {
	white-space: nowrap; /* no need for Supersubs plugin */
}
body .main-menu-wrap .homemenu .sf-navbar > li > ul > li a,
body .main-menu-wrap .homemenu .top-menu .sf-navbar > li > ul > li a:hover {
	color:#dadada;
}
.sf-navbar li.current {
	background: #BDD2FF;
}
.sf-navbar li:hover,
.sf-navbar li.sfHover,
.sf-navbar ul li.current {
}
.sf-navbar ul li:hover,
.sf-navbar ul li.sfHover,
.sf-navbar ul ul li {
	background: rgba(70,70,70,0.95);
}
.sf-navbar ul ul li:hover,
.sf-navbar ul ul li.sfHover,
.sf-navbar ul ul li.current {
	background: rgba(80,80,80,0.95);
}
.sf-navbar ul li.current > a {
}
.sf-navbar ul li.current-menu-item {
	background: rgba(70,70,70,0.95);
}
.homemenu {
	position: absolute;
	top:13px;
	right:120px;
	width: 90%;
}
.home-regular-menu {
	width: auto;
}
.home-regular-menu .sf-menu li {
	position: relative;
	white-space: normal;
}
.home-regular-menu .sf-menu ul li {
	width: 200px;
}
.home-regular-menu .sf-menu ul ul {
    left: auto;
    right: 200px;
    top: -1px;
}
.home-regular-menu .sf-menu ul li a {
    padding-bottom: 6px;
    padding-top: 6px;
}
.home-regular-menu .sf-navbar > li > ul > li {
    text-align: left;
}
.home-regular-menu .sf-menu ul li a {
	font-size: 12px;
    text-transform: none;
}
.home-regular-menu .sf-menu ul li {
	margin-bottom: 0;
}
.home-regular-menu .sf-navbar > li > ul > li {
	margin-left: 0;
}
.home-regular-menu .sf-navbar ul li {
	border-top:1px solid rgba(255,255,255,0.03);
	border-right:0;
}

/*** arrows (for all except IE7) **/
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	font-family: 'FontAwesome';
	content: "\f078";
	font-size: 3px;
	right: 12px;
	top: 17px;
}
.header-menu-wrap .sf-arrows .sf-with-ul:after {
	font-family: 'FontAwesome';
	content: "\f078";
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: #000; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	top:16px;
	right:11px;
	font-family: 'FontAwesome';
	content: "\f078";
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
}
